@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* CSS RESET */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --header-height: 3.5rem;

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-mediem:500;
    --font-semi-bold:600;

    --first-color: #108E82;
    --first-color-second: #D8F48D;
    --first-color-alt: #A6CB43;
    --title-color: #0F0F0E;
    --text-color: #0F0F0E;
    --text-color-light: #BDBDBD;
    --light-color: #F9F9F9;
    --accent-color: #EE442B;
    --body-color: #fff;
    --container-color:#fff;

    
}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--body-font);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    margin: 0;
}



h4 {
    margin-top: -.3rem;
    margin-bottom: 0;
    padding: 0;
    color: var(--text-color-light);
    font-weight: 400;
    font-size: .9rem;
}

h6 {
    font-size: .8rem;
    font-weight: 400;
    color: var(--text-color-light);
    margin: 0;
}

p {
    margin: 0;
}

a{
    text-decoration: none;
    font-size: var(--font-mediem);
    color: inherit;
}




/* Layout Classes */

.hidden {display: none;}

.display-flex { display: flex; }
.display-block { display: block;}
.display-inline-flex { display: inline-flex;}
.display-inline-block { display: inline-block;}

.none-style {list-style: none;padding: 0;margin: 0 1rem;}


.flex-stretch { flex: 1 1 auto;}
.flex-none { flex: none;}

.flex-align-center { align-items: center;}
.flex-justify-center { justify-content: center;}

.flex-column { flex-direction: column;}
.overscroll { overflow: auto;}

.floater { position: absolute;}
.bottom {bottom: 1rem;}
.top {top: 1rem;}
.right {right: .5rem;}
.relative { position: relative;}

.flex-none a {margin: 0;}

.fill-parent {
    width: 100%;
    height: 100%;
}

.noclick-children * { pointer-events:none; }
.text-center { text-align: center;}
/* Forms */

.form {
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);
    padding: 1rem;
}

.edit-form {
    margin: 0 auto;
    padding: 1rem;
}

.form-control {
    margin: 1rem 0;
    
}

.form-input-signin {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-radius: 45px;
    background-color: var(--body-color);
    font: inherit;
    padding: .8rem 1rem;
    margin: 0;
    outline: 0;
}

.form-input {                                                                      
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: solid 1px var(--text-color-light);
    font: inherit;
    padding: .2rem;
    outline: 0;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-radius: 45px;
    background-color: var(--first-color-second);
    color: var(--text-color);
    font: inherit;
    padding: 0.8rem 1rem;
    margin: 0;
    font-size: 1.05rem;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
}


.form-button-small {
    border-width: 0;
    border-radius: 45px;
    background-color: var(--first-color-second);
    font: inherit;
    padding: 0 1rem;
    margin: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    height: 2.2rem;
    line-height: 2.2rem;
}



.hotdog {
    background-color: white;
    border-radius: 2em;
    line-height: 3rem;
    padding: 0 2em;
    border: solid 1px var(--text-color-light);
 }

 .hotdog input {
    border-width: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1 1 auto;
    display: block;
    font: inherit;
    color: inherit;
    outline: 0;
    background-color: transparent;
 }

 .search {
     padding: 1rem;
 }

 .reminder {
     color: var(--accent-color);
     padding: 2rem;
     margin: 1rem;
     border-radius: 1rem;
     font-weight: 500;
 }



/* Modals */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition:all .3s;
    opacity: 0;
    z-index: 10;
}

.modal.active {
    opacity: 1;
    pointer-events: initial;
}

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-back.transparent {
    background-color: transparent;
 }
 .modal-back.passthrough {
    pointer-events: none;
 }

.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    transform: translate(-50%,-50%);
}

.modal.active .modal-popup {
    transform: translate(-50%, -50%);
 }
 .modal-head,
 .modal-foot {
    background-color: var(--light-color);
    line-height: 2rem;
    padding: 0 1em;
    align-items: center;
    justify-content: space-between;
 }
 .modal-body {
    background-color: var(--light-color);
    flex: 1 1 100%;
    padding: 0 1em;
 }
 
 .modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
 }
 
 .modal-drawer-fixed {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    height: 56vh;
    width: 100%;
    bottom:0; 
   
 }
 /* .modal-drawer.left,
 .modal-drawer.right {
    height: 100%;
    width: 70vw;
 }
 .modal-drawer.left { left:0; transform:translateX(-100%); }
 .modal-drawer.right { right:0; transform:translateX(100%); }
  */

 .modal-drawer.top,
 .modal-drawer.bottom {
    height: 24vh;
    width: 100%;
 }

 .modal-drawer.half-bottom {
     height: 50vh;
     width: 100%;
     bottom:0; 
     transform:translateY(100%);
 }
 .modal-drawer.top { top:0; transform:translateY(-100%); }
 .modal-drawer.bottom { bottom:0; transform:translateY(100%); }
 
 .modal.active .modal-drawer {
    transform: translate(0);
 }

 .modal-img {
     margin: 0 auto;
     position: relative;
 } 

 .modal-img>img {
     width: 380px;
     height: 240px;
     border-radius: 5px;
     object-fit: cover;
     margin-bottom: 0.5rem;
 }

 .modalpopup-img>img{
     width: 120px;
     height: 120px;
     border-radius: 5px;
     margin: 1rem 4px;
 }

 .modal-container {
     padding: 1rem;
     background-color: var(--body-color);
     border-radius: 6px;
     margin-bottom: 1rem;
 }

 .modal-name {
    font-size: var(--h1-font-size);
    margin: 0;
    padding: 1rem 0;
}

.modal-container p {
    margin-bottom: 1rem;
}


.popup-container {
    padding: 1rem;
    max-width: 200px;
}

/* page layout */

.ui-mobile .ui-page-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[data-role="main"] {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;
}

.ui-header {
    flex: none;
    height: 10vh;
    border-bottom: solid 1px var(--text-color-light);
    border-radius: 0px 0px 10px 10px;
    border-width: 0;
    background-color: #fff;
    line-height: 10vh;
    position: relative;
    
}


.ui-footer {
    
    height: 5rem;
    border-width: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    border-radius: 1rem 1rem 0 0;
    position: relative;
    overflow: hidden;
}

.ui-header .ui-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}

.ui-header ul,
.ui-footer ul  {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 10vh;
}


.ui-header li {
    display: inline-flex;
    padding: 0 1rem;
    align-items: center;
}

.ui-footer li {
    flex: 1 1 auto;
    text-align: center;
}

.animal-title {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}





.ui-footer li a  {
    color: var(--text-color-light);
    margin: 5px 0;
    
}

.ui-footer .active {
    color: var(--first-color);
}


.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overscroll {
    overflow: auto;
}

.overscroll-x {
    overflow-x: scroll;
}

.ui-mobile .form-label {
   
   font-size: .8rem;
    font-weight: 400;
    color: var(--text-color-light);
    margin: 0;
}
.ui-mobile label {
    margin: 0;
    display: inline-block;
}



/* signin signup pages */

#onboarding-page {
    background-color: var(--first-color);
    padding: 0 40px;
}

#onboarding-page .form-button{
    margin-bottom: 10vmin;
}

#onboarding-page .form-button {
    width: 180px;
}

.logo p {
    font-size: 48px;
    margin: 0;
    color: var(--body-color);
}

.logo {
    text-align: center;
   
}

.logo img {
    width: 46vmin;

}


.form-control-signin {
    margin: 2rem 0;
    text-align: center;
    
}

.fa-arrow-right {
    padding: 0 2px;
}

.signup-a {
    font-weight: 500;
    color: var(--first-color-second);
}

#signin-page,
#signup-page {
    background-color: var(--first-color);
}

.form-control p {
    color: #fff;
}

#signin-form h1,
#signup-form h1 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 3rem 0;
   
}
    

.pass {
    margin: -15px 0 20px 5px;
    color: #fff;
}

.signup-link {
    text-align: center;
    font-size: 16px;
    color: var(--body-color);
    margin: 1rem 0;
}



/*  footer nav  */



.nav-icon-set li.active>a {
    color: var(--first-color);
 }
 .nav-icon {
     line-height: 2rem;
     display: block;
     padding-top: 0.3rem;
 }
 .nav-icon i {
     vertical-align: middle;
     width: 1.5em;
     font-size: 1.25rem;
 }

 .nav-icon-label {
     line-height: 1rem;
     display: block;
     font-size: 0.8em;
 }










/* explore page */

.map-placeholder {
    background-image: url(../img/map.png);
    background-position: center;
    background-size: cover;
}

.add-button {
    border-width: 0;
    border-radius: 2em;
    background-color: var(--first-color);
    font: inherit;
    outline: 0;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    width: 2em;
    height: 2em;
    box-shadow: 0 0em .2em rgb(16 142 130 / 50%);
}


.add-button i{
    padding: 0;
    margin: 0 auto;
    color: #fff;
}

.close-button {
    font-size: 1.4rem;
    margin: .5rem 0;
    color: var(--body-color);
    background: rgba(0, 0, 0, 0.2);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.back-button {
    font-size: 1.25rem;
}

.expand-icon {
    margin-right: 2rem;
    font-size: 1.25rem;
    color: var(--text-color-light);
}

.home-page-header {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1vh;
}



#explore-page header h3,h4{
    line-height: 1.5rem;
    margin: 0;
}

.map {
    height: 100%;
}
.map-img {
    height: 86px;
}
.map-img img{
    position: relative;
    background: var(--text-color-light);
    width: 70px;
    height: 70px;
    border: solid 4px var(--body-color);
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0 0 0 / 25%);

}



.map-img::after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    background: var(--body-color);
    width: 20px;
    height: 12px;
    
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }





/* animal profile list */

.animal-profile-list {
    flex: 1;
    position: relative;
}

.animal-profile-list ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.animal-profile-list li a{
    
    margin: 1rem;
    align-items: center;
    display: flex; 
}

.animal-list-img img {
    display: block;
    width: 10vh;
    height: 10vh;
    border-radius: 0.5em;
    object-fit: cover;
}
.animal-list-body {
    padding: 1em;
 }
 .animal-list-name {
    font-weight: 400;
 }

.animal-list-type {
    color: var(--text-color-light);
    font-size: .8rem;

}


/* animal profile pages */

.add-animal-img {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: var(--text-color-light);
    border: solid 2px var(--text-color-light);
    border-radius: 1rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
}



.viewed-time {
    color: var(--text-color-light);
    background-color: var(--body-color);
    border-radius: 2rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}

.viewed-time i {
    padding-right: .4rem;
}

.bottom-button {
    background-color: var(--first-color);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: block;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    align-items: center;
    border-radius: 2rem;
    padding: .8rem 0;
    color: var(--body-color);
    
}

.choose-animal {
    padding: 0 1rem;

}

.form-select select {
    border: 1px solid var(--text-color-light);
    padding: 0.5em 1em;
    font: inherit;
    border-radius: 4px;
    width: 100%;
    -webkit-appearance: none;
    outline: 0;
}
.form-select {
   position: relative;
}
.form-select::after {
   content: '▼';
   position: absolute;
   right: 0.5em;
   top: 50%;
   transform: translateY(-50%);
   font-size: 0.8em;
   color: var(--text-color-light);
}

.delete-icon {
    padding-right: .5rem;
}

.delete-animal {
    color: var(--accent-color);
    padding-right: 1rem;
}

.animal-images {
    margin-left: 1rem;
    overflow-x: scroll;
}

/* edit animal page */

.edit-img {
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
    margin: 1rem 4px;
}


/* user profile */

.username {
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: var(--font-mediem);
}

.user-profile {
    margin: 0 auto;
    
}



.edit-user-img img {
    margin: auto;
  display: block;
  width: 18vh;
    height: 18vh;
    border-radius: 2rem;
    object-fit: cover;
}

.edit-user-img {
    position: relative;
    width: 18vh;
    height: 18vh;
    margin: 0 auto;
    border-radius: 2rem;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border-radius: 0 0 2rem 2rem;
    font-size: 1.4rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: var(--body-color);
}

.image-overlay i {
    position: absolute;
    margin: 0;
    left:50%; 
    bottom: 0; 
    transform: translate(-50%, -50%);
}

.user-profile-info {
    margin: 0 auto;
    padding: 3rem 0;
    
}

.edit-profile-button {
    border: solid 1px var(--text-color-light);
    border-radius: 8px;
    padding: 0.2rem 0;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: .85rem;
}



/* IMAGE PICKER */
.replace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-size: contain;
    background-repeat:  no-repeat;
 }
.replace input {
    display: none;
 }


 .thumbnail {
    position:relative;
    width:8em;
    height:8em;
    border-radius:0.6em;
    vertical-align:middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position:center;
    background-size:cover;
  } 

  .imagepicker-animal {
    cursor:pointer;
    color:var(--text-color-light);
    background: rgba(255, 255, 255, 0.2);
  }

  .imagepicker-animal:before {
    content:'+';
    position:absolute;
    font-size:3em;
    vertical-align:middle;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: rgb(0 0 0 / 40%);
  }
  










/* SETTING PAGE */


.info-icon {
    font-size: 1.3rem;
    color: var(--first-color);
    height: 2rem;
    line-height: 2rem;
    margin: 0 1.4rem 0 2rem;
    text-align: center;
}

.setting {
    padding: 0;
    margin: 0;
}

.setting li {
    display: block;
}

.setting-icon {
    font-size: 1.3rem;
    color: var(--text-color-light);
    height: 2rem;
    line-height: 2rem;
    margin: 0 1.4rem 0 2rem;
    text-align: center;
}

.fa-gear {
    padding: 0 1rem;
}

.info-text {
    max-width: 230px;
    margin: 1rem 0;
}
.info-text p{
    height: 2rem;
    line-height: 2rem;
}



.about-info {
    margin: 2rem;
}

#toggle {
    margin-right: 1rem;
    position: relative;
    display: block;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    transition: .5s;
    cursor: pointer;
    background-color: var(--text-color-light);
}

#toggle.active {
    background-color: #2196F3;
}
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0.9);
    transition: .5s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

}

#toggle.active .indicator{
    left: 24px;
}