@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* CSS RESET */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --header-height: 3.5rem;

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-mediem:500;
    --font-semi-bold:600;

    --first-color: #108E82;
    --first-color-second: #D8F48D;
    --first-color-alt: #A6CB43;
    --title-color: #0F0F0E;
    --text-color: #0F0F0E;
    --text-color-light: #BDBDBD;
    --light-color: #F9F9F9;
    --accent-color: #EE442B;
    --body-color: #fff;
    --container-color:#fff;

    
}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--body-font);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    margin: 0;
}



h4 {
    margin-top: -.3rem;
    margin-bottom: 0;
    padding: 0;
    color: var(--text-color-light);
    font-weight: 400;
    font-size: .9rem;
}

h6 {
    font-size: .8rem;
    font-weight: 400;
    color: var(--text-color-light);
    margin: 0;
}

p {
    margin-top: 0;
}

a{
    text-decoration: none;
    font-size: var(--font-mediem);
    color: inherit;
}




/* Layout Classes */

.hidden {display: none;}

.display-flex { display: flex; }
.display-block { display: block;}
.display-inline-flex { display: inline-flex;}
.display-inline-block { display: inline-block;}


.flex-stretch { flex: 1 1 auto;}
.flex-none { flex: none;}

.flex-align-center { align-items: center;}
.flex-justify-center { justify-content: center;}

.flex-column { flex-direction: column;}
.overscroll { overflow: auto;}

.floater { position: absolute;}
.bottom {bottom: 1rem;}
.right {right: 1.5rem;}


.flex-none a {margin: 0;}

.fill-parent {
    width: 100%;
    height: 100%;
}
/* Forms */

.form {
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);
    padding: 1rem;
}

.add-animal-form {
    margin: 0 auto;
    padding: 1rem;
}

.form-control {
    margin: 1rem 0;
    text-align: center;
}

.form-input-signin {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-radius: 45px;
    background-color: var(--body-color);
    font: inherit;
    padding: .8rem 1rem;
    margin: 0;
    outline: 0;
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: solid 1px var(--text-color-light);
    font: inherit;
    padding: .2rem;
    outline: 0;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-radius: 45px;
    background-color: var(--first-color-second);
    color: var(--text-color);
    font: inherit;
    padding: 0.8rem 1rem;
    margin: 0;
    font-size: 1.05rem;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
}


.form-button-small {
    border-width: 0;
    border-radius: 45px;
    background-color: var(--first-color-second);
    font: inherit;
    padding: 0 1rem;
    margin: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    height: 2.2rem;
    line-height: 2.2rem;
}



.hotdog {
    background-color: white;
    border-radius: 2em;
    line-height: 3rem;
    padding: 0 2em;
    border: solid 1px var(--text-color-light);
 }

 .hotdog input {
    border-width: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1 1 auto;
    display: block;
    font: inherit;
    color: inherit;
    outline: 0;
 }

 .search {
     padding: 1rem;
 }

/* Modals */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition:all .3s;
    opacity: 0;
    z-index: 10;
}

.modal.active {
    opacity: 1;
    pointer-events: initial;
}

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-back.transparent {
    background-color: transparent;
 }
 .modal-back.passthrough {
    pointer-events: none;
 }

.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    transform: translate(-50%,-50%);
}

.modal.active .modal-popup {
    transform: translate(-50%, -50%);
 }
 .modal-head,
 .modal-foot {
    background-color: var(--light-color);
    line-height: 2rem;
    padding: 0 1em;
    align-items: center;
    justify-content: space-between;
 }
 .modal-body {
    background-color: var(--light-color);
    flex: 1 1 100%;
    padding: 0 1em;
 }
 
 .modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
 }
 
 .modal-drawer-fixed {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    height: 60vh;
    width: 100%;
    bottom:0; 
   
 }
 /* .modal-drawer.left,
 .modal-drawer.right {
    height: 100%;
    width: 70vw;
 }
 .modal-drawer.left { left:0; transform:translateX(-100%); }
 .modal-drawer.right { right:0; transform:translateX(100%); }
  */

 .modal-drawer.top,
 .modal-drawer.bottom {
    height: 80vh;
    width: 100%;
 }

 .modal-drawer.half-bottom {
     height: 50vh;
     width: 100%;
     bottom:0; 
     transform:translateY(100%);
 }
 .modal-drawer.top { top:0; transform:translateY(-100%); }
 .modal-drawer.bottom { bottom:0; transform:translateY(100%); }
 
 .modal.active .modal-drawer {
    transform: translate(0);
 }

 .modal-img {
     width: 156px;
     height: 156px;
     border-radius: 5px;
     margin: 1rem 4px;
 }

 .modal-container {
     padding: 1em;
     background-color: var(--body-color);
     border-radius: 6px;
 }

 .modal-name {
    font-size: var(--h1-font-size);
    margin: 0;
    padding-top: 1rem;

}
/* page layout */

.ui-mobile .ui-page-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[data-role="main"] {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;
}

.ui-header {
    flex: none;
    height: 6rem;
    border-bottom: solid 1px var(--text-color-light);
    border-radius: 0px 0px 10px 10px;
    border-width: 0;
    background-color: #fff;
    line-height: 6rem;
    position: relative;
}


.ui-footer {
    
    height: 5rem;
    border-width: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.ui-header .ui-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}

.ui-header ul,
.ui-footer ul {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.ui-header li {
    display: block;
    padding: 0 1rem;
}

.ui-footer li {
    flex: 1 1 auto;
    text-align: center;
}







.ui-footer li a  {
    color: var(--text-color-light);
    margin: 5px 0;
    
}

.ui-footer .active {
    color: var(--first-color);
}


.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overscroll {
    overflow: auto;
}

.ui-mobile .form-label {
   font-size: 0.8em;
   color: var(--text-color-light);
   margin: 0.5rem 0;
}



/* signin signup pages */

#onboarding-page {
    background-color: var(--first-color);
    padding: 0 40px;
}

#onboarding-page .form-button{
    margin-bottom: 10vmin;
}

#onboarding-page .form-button {
    width: 180px;
}

.logo p {
    font-size: 48px;
    margin: 0;
    color: var(--body-color);
}

.logo {
    text-align: center;
   
}

.logo img {
    width: 46vmin;

}


.form-control-signin {
    margin: 2rem 0;
    text-align: center;
    
}

.signup-a {
    font-weight: 500;
    color: var(--first-color-second);
}

#signin-page,
#signup-page {
    background-color: var(--first-color);
}

.form-control p {
    color: #fff;
}

#signin-form h1 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 3rem 0;
   
}
    

.pass {
    margin: -15px 0 20px 5px;
    color: #fff;
}

.signup-link {
    text-align: center;
    font-size: 16px;
    color: var(--body-color);
}



/*  footer nav  */

.nav-icon-set li.active>a {
    color: var(--first-color);
 }
 .nav-icon {
     line-height: 2rem;
     display: block;
 }
 .nav-icon i {
     vertical-align: middle;
     width: 1.5em;
     font-size: 1.25rem;
 }

 .nav-icon-label {
     line-height: 1rem;
     display: block;
     font-size: 0.8em;
 }










/* explore page */

.map-placeholder {
    background-image: url(../img/map.png);
    background-position: center;
    background-size: cover;
}

.add-button {
    border-width: 0;
    border-radius: 2em;
    background-color: var(--first-color);
    font: inherit;
    outline: 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    box-shadow: 0 0em .2em rgb(16 142 130 / 50%);
}


.add-button i,
.close-button i {
    padding: 0;
    margin: 0 auto;
}

.close-button {
    display:block;
    font-size: 1.25rem;
    margin: 0;
    color: var(--text-color);
    background-color: #e9e9e9;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    
}

.back-button {
    font-size: 1.25rem;
}

.animal-title {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}



#explore-page header h3,h4{
    line-height: 1.5rem;
    margin: 0;
}


/* animal profile list */

.animal-profile-list {
    flex: 1;
    position: relative;
}

.animal-profile-list ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.animal-profile-list li a{
    
    margin: 1rem;
    align-items: center;
    display: flex; 
}

.animal-list-img img {
    width: 6em;
    vertical-align: text-bottom;
    border-radius: .5em;
 }
.animal-list-body {
    padding: 1em;
 }
 .animal-list-name {
    font-weight: 600;
 }

.animal-list-type {
    color: var(--text-color-light);
}


/* animal profile pages */

.add-animal-img {
    margin: 1rem 0;
}


/* user profile */

.user-profile {
    margin: 0 auto;
}

.user-profile img,
#edit-user-form img{
    margin: auto;
  display: block;
  padding: 1rem;
  width: 40%;
  border-radius: 2rem;
}

.user-profile-info {
    margin: 0 auto;
    padding: 1rem 0;
    
}

.info-icon {
    font-size: 1.3rem;
    color: var(--text-color-light);
    height: 2rem;
    line-height: 2rem;
    margin: 0 2rem;
    text-align: center;
}

.info-text p{
    height: 2rem;
    line-height: 2rem;
    margin: 1rem 0;
}
