@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* CSS RESET */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --header-height: 3rem;

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-mediem:500;
    --font-semi-bold:600;

    --first-color: #108E82;
    --first-color-second: #D8F48D;
    --first-color-alt: #A6CB43;
    --title-color: #0F0F0E;
    --text-color: #0F0F0E;
    --text-color-light: #BDBDBD;
    --label-color: #F9F9F9;
    --accent-color: #EE442B;
    --body-color: #fff;
    --container-color:#fff;

    
}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--body-font);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
    font-size: var(--font-mediem);
    color: inherit;
}

/* Layout Classes */

.hidden {display: none;}

.display-flex { display: flex;}
.display0block { display: block;}
.display-inline-flex { display: inline-flex;}
.display-inline-block { display: inline-block;}

.flex-stretch { flex: 1 1 auto;}
.flex-none { flex: none;}

.flex-align-center { align-items: center;}
.flex-justify-center { justify-content: center;}

.flex-column { flex-direction: column;}


/* Forms */

.form {
    margin-top: var(--header-height);
}
.form-control {
    margin: 1rem 0;
}

.form-control-signin {
    margin: 2rem 0;
    text-align: center;
}

.ui-mobile .form-label {
    font-size: 0.8rem;
    color: var(--text-color-light);
    margin: 0.5rem 0;
}

.form-input {
    display: inline-block;
    width: 280px;
    border-width: 0;
    border-radius: 45px;
    background-color: var(--label-color);
    font: inherit;
    padding: 0.5rem 1rem;
    margin: 0;
    outline: 0;
}

.form-button {
    display: inline-block;
    /* width: 160px; */
    border-width: 0;
    border-radius: 45px;
    background-color: var(--first-color-second);
    font: inherit;
    padding: 0.5rem 2rem;
    margin: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

.form-button-small {
    border-width: 0;
    border-radius: 45px;
    background-color: var(--first-color-second);
    font: inherit;
    padding: 0.5rem 1rem;
    margin: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

/* page layout */

.ui-mobile .ui-page-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[data-role="main"] {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;
}

.ui-header,
.ui-footer {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);

    position: relative;
    overflow: hidden;
}

.ui-header .ui-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.ui-header ul,
.ui-footer ul {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-footer li {
    flex: 1 1 auto;
    text-align: center;
}

.ui-header li,
.ui-footer li {
    display: block;
    padding: 0 1rem;
}

.animal-profile-title {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.animal-profile-content {
    padding: 1rem;
}

.main-content a{
    margin: 0;
}

.main-content {
    padding: 1rem;
}


.animal-profile-list ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.animal-profile-list li {
    padding: 0 1rem;
    margin: 1rem;
    
}

.animal-profile-list p {
    display: inline-block;
    padding: 1rem;
}

.animal-profile-list img {
    display: inline-block;
   
}